<html>
  <body>
    <div style="width: 100%; font-size: 40px; font-weight: bold; text-align: center;">
      <a href=index>back to home</a>
    </div>
    <h3>get test</h3>
    <form action=simple_get method=get>
    go to static page:<input type=text name=get1 value=''>
    go to static page:<input type=text name=get2 value=''>
    <input type=submit value=send />
    </form>

    <h3>post test</h3>
    <form action=simple_post method=post>
        first:<input type=text name='first' /><br>
        second:<input type=text name='second'/>
        <input type=submit value=send />
    </form>
  </body>
</html>
